<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="NewEmployer.EmpProfileDropdownMenu"/>
      <class name="NewEmployer.ProposePosition"/>
      <class name="university.UniversityDashboardMenuDropdown"/>
      <class name="NewEmployer.CandidateProcessingRecommended"/>
      <class name="NewEmployer.EmpUpdateAboutUsProfile"/>
      <class name="NewEmployer.EmpJobsMenuDropDown"/>
      <class name="students.StudentsFindRecommendations"/>
      <class name="students.TermsandServicePage"/>
      <class name="students.StudentChangeLanguage"/>
      <class name="NewEmployer.ViewAllEmployerJobs"/>
      <class name="university.UpdateUniSocialMediaProfile"/>
      <class name="NewEmployer.CandidateProcessingOfferSentTAB"/>
      <class name="university.UniversityStudentsMenuDropdown"/>
      <class name="students.DeleteStudentProfilePicture"/>
      <class name="NewEmployer.AddJobMultiLocations"/>
      <class name="students.ChangeStudentProfilePicture"/>
      <class name="NewEmployer.CandidateProcessingInterviewTAB"/>
      <class name="students.StudentChangeEmail"/>
      <class name="students.StudentsJobsHomepage"/>
      <class name="students.StudentsCreateCV"/>
      <class name="NewEmployer.SearchEvent"/>
      <class name="NewEmployer.SearchOpenJobs"/>
      <class name="NewEmployer.EditJob"/>
      <class name="NewEmployer.CandidateProcessingProposedTAB"/>
      <class name="UserAccess.InvalidLogin"/>
      <class name="students.StudentMyAccount"/>
      <class name="NewEmployer.BasicEmployerDashboard"/>
      <class name="university.SearchEvent"/>
      <class name="students.StudentsFilterJobs"/>
      <class name="NewEmployer.EmployerDashboardMenuDropDown"/>
      <class name="students.StudentsApplicationsPage"/>
      <class name="university.UpdateUniAboutUsProfile"/>
      <class name="students.StudentsLogout"/>
      <class name="university.UniversiyProfilePAge"/>
      <class name="university.EventHomepageElements"/>
      <class name="NewEmployer.EmpTalentHomePage"/>
      <class name="university.AddNewEvent"/>
      <class name="university.UniViewStudentProfie"/>
      <class name="NewEmployer.EmpUploadEmployerPhotos"/>
      <class name="university.UniversityAboutPage"/>
      <class name="NewEmployer.ChangeEmployerLogo"/>
      <class name="NewEmployer.EmpUpdateSocialMediaProfile"/>
      <class name="NewEmployer.EmployerDashboard"/>
      <class name="NewEmployer.CandidateProcessingFilters"/>
      <class name="NewEmployer.JobsHomepage"/>
      <class name="students.StudentAboutPage"/>
      <class name="students.StudentsInvalidJobSearch"/>
      <class name="students.StudentsSignUp"/>
      <class name="NewEmployer.AddNewAnonymousJob"/>
      <class name="NewEmployer.DeleteEmployerLocation"/>
      <class name="students.StudentsApplyJob"/>
      <class name="NewEmployer.EmpTalentMenuDropDown"/>
      <class name="students.StudentsMyProfile"/>
      <class name="students.StudentChangePersonalInfo"/>
      <class name="UserAccess.LoginPageElements"/>
      <class name="students.StudentViewJobApplicationDetails"/>
      <class name="NewEmployer.CandidateProcessingFavoriteTab"/>
      <class name="NewEmployer.BasicEmployerGetPremiumAccess"/>
      <class name="university.ChangeUniversityName"/>
      <class name="NewEmployer.AddNewJob"/>
      <class name="NewEmployer.EmpSearchClosedJobs"/>
      <class name="UserAccess.InvalidSignup"/>
      <class name="NewEmployer.EditEmployerLocation"/>
      <class name="students.StudentsDashboard"/>
      <class name="university.ViewEventDetails"/>
      <class name="students.StudentsEmptyJobDashboard"/>
      <class name="university.UniversityDashboard"/>
      <class name="NewEmployer.EmpFilterTalents"/>
      <class name="university.UniStudentsHomepage"/>
      <class name="NewEmployer.ChangeEmployerName"/>
      <class name="university.EditEvent"/>
      <class name="students.StudentsNoRecommendation"/>
      <class name="university.UniversityProfileMenuDropdown"/>
      <class name="NewEmployer.AddEmployerLocation"/>
      <class name="NewEmployer.CloseJob"/>
      <class name="NewEmployer.CandidateProcessingRejectedTAB"/>
      <class name="students.StudentsSaveJob"/>
      <class name="NewEmployer.BasicEmployerAddJob"/>
      <class name="students.StudentsApplyJobNoCV"/>
      <class name="students.StudentChangePassword"/>
      <class name="university.UniSearchStudentByName"/>
      <class name="NewEmployer.EditEmployerPhotos"/>
      <class name="NewEmployer.EmpViewVerifiedStudents"/>
      <class name="university.ChangeUniversityLogo"/>
      <class name="NewEmployer.CandidateProcessingAppliedTAB"/>
      <class name="NewEmployer.ViewEmployerJobs"/>
      <class name="students.StudentsJobSearchByTitle"/>
      <class name="NewEmployer.CandidateProcessingHiredTAB"/>
       <class name="university.UniversityViewJobs"/>
        <class name="university.UniversitySearchJobs"/>
         <class name="university.UniversityExportJobsPDF"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
